<!--index.html-->

<!--Embed the header.html template at this location-->
<!-- TODO: Add components to access APIs in index page -->
{{ template "header.html" .}}
<form action="/api/readKey" method="post">
    <label for="read-key">readkey:</label>
    <input type="text" id="read-key" name="readkey">
    <input type="submit">
</form>

<form action="/api/searchValueByKey" method="post">
    <label for="search-key">searchkey:</label>
    <input type="text" id="search-key" name="searchkey">
    <input type="submit">
</form>
    
<form action="/api/insert" method="post">
    <label for="insert-key">insertkey:</label>
    <input type="text" id="insert-key" name="insertkey">
    <label for="insert-val">insertval:</label>
    <input type="text" id="insert-val" name="insertval">
    <input type="submit">
</form>
 